body {
	max-width: 960px;
	margin: 0 auto;
	font-family: roboto;
	padding: 0 10px 70px 10px;
}

header {
	display: flex;
	flex-wrap: wrap;
}

#contacts {
	flex: 15%;
}

#title {
	flex: 40%;
	align-self: center;
	margin-right: 20px;
	margin-left: 20px;
}

h1 {
	text-align: center;
}

#title p {
	margin-top: 40px;
	text-align: justify;
	line-height: 1.7;
}

#img {
	flex: 10%;
	text-align: right;
}

#projects {
	display: flex;
	flex-wrap: wrap;
}

#projects article {
	flex: 1;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
}

#projects div {
	display: inline-block;
	text-align: left;
}

#projects ul {
	padding-left: 0;
	margin: 0;
}

#projects li {
	margin-top: 1em;
	margin-bottom: 1em;
	list-style: none;
}

#education h3 {
	font-weight: 400;
}
#education li {
	margin-bottom: 8px;
	line-height: 1.7;
}

@media only screen and (max-width: 645px) {
    #img {
      	text-align: center } }

@media only screen and (max-width: 334px) {
    #title {
      	margin-left: 0 } }
