body {
	font-family: sans-serif;
	background-color: #333;
	color: white;
}
h1 {
	font-family: cursive;
	text-align: center;
	font-size: 4em;
	margin-top: 60px;
}
section {
	width: 300px;
	margin: 0 auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
#container {
	height: 84px;
}
.length {
	text-align: center;
	font-size: 2em;
	margin-top: 16px;
}
span {
	margin-left: 10px;
	margin-right: 10px;
}
h2 {
	text-align: center;
	font-size: 3em;
	font-weight: lighter;
}
.clear p {
	font-size: 4em;
	text-align: center;
	font-weight: lighter;
}
.clear {
	border: 3px solid chartreuse;
	border-radius: 100%;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
}
.clear h2, .clear p {
	margin-top: 70px;
	margin-bottom: 50px;
}
.changer:hover {
	cursor: pointer;
}
button {
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	font-size: 32px;
	background-color: crimson;
	color: white;
	border: none;
	padding: 20px;
	border-radius: 100%;
}
.clear:hover {
	cursor: pointer;
}
button:hover {
	cursor: pointer;
}
button:focus {
	border: none;
	outline: none;
}